@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

/*Estilo padrão para toda a página*/
body {
    font-family: 'Raleway', sans-serif;
    background: #FEFEFE;
    color: #4A4A4A;
}

header .container {
    display: flex;
    justify-content: space-between;
}

.container {
    width: 940px;
    margin: 0 auto;
}

/*CSS Cabeçalho*/
.cabecalho-logo {
    width: 170px;
}

nav {
    margin-top: 30px;
}

nav a {
    color: #4A4A4A;
    font-weight: bold;
    font-size: 22px;
    text-decoration: none;
    margin-right: 1.5em;
    transition: all 0.5s;
}

nav a:hover {
    color: #FE4400;
}


/*CSS Texto de Introdução*/
.container h1 {
    text-align: center;
    font-size: 36px;
    font-weight: bold;
    color: #FE4400;
    margin: 1.5em 0;
}

.container p {
    font-size: 20px;
    margin: 1em 0;
}

.container em {
    font-weight: bold;
    color: #FE4400;
}

.principal-imagem {
    display: block;
    margin: 30px auto;
    width: 70%;

}

/*CSS Seção Cuidados*/
.cuidados {
    background: #EF653C;
    color: #FEFEFE;
}

.cuidados li {
    padding: 2em 0;
}

.cuidados h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 1.5em 0;
}

.cuidados img {
    display: block;
    margin: 0 auto;
    width: 150px;
}

.cuidados p {
    text-align: center;
}

.cuidados em {
    background-color: #FEFEFE;
    font-weight: bold;
    color: #FE4400;
}

/*CSS Seção Onde Estamos*/
.secao-mapas {
    margin-bottom: 2em;
}

.secao-mapas h2 {
    text-align: center;
    font-size: 28px;
    font-weight: bold;
    padding: 1.5em 0;    
}

.secao-mapas h3 {
    text-align: center;
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 1em;
    color: #FE4400;
}

.flex-mapas {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.mapa {
    width: 450px;
}

/*CSS Rodapé*/
footer {
    padding: 50px;
    background: #303033;
}

.flex-rodape {
    display: flex;
    justify-content: space-between;
}

footer a:not(:first-child) {
    text-decoration: none;
    text-align: right;
    color: #FEFEFE;
    font-size: 26px;
    font-weight: bold;
    transition: all 0.5s;
}

footer a:not(:first-child):hover {
    color: #FE4400;
}

footer h4 {
    color: #FEFEFE;
    font-size: 30px;
    padding: 40px 0;
}

/*CSS para Mobile*/
@media screen and (max-width: 960px) {
    header .container {
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
    }

    header a {
        margin: 0 auto;
    }

    .container {
        width: 95%;
    }

    .cabecalho-logo {
        width: 250px;
    }

    nav a {
        font-size: 24px;
        margin: 0 20px;
    }

    .flex-mapas {
        flex-direction: column;
    }

    .flex-mapas section {
        margin: 1.5em 0;
    }

    .mapa {
        width: 90%;
        margin: 0 auto;
    }

    .flex-rodape {
        flex-direction: column;
        align-items: center;
    }

    .flex-rodape a:not(:first-child) {
        order: -1;
    }

    .flex-rodape a {
        margin: 1.5em 0;
    }

    footer a:not(:first-child) {
        font-size: 30px;
    }

    footer h4 {
        text-align: center;
    }
}

@media screen and (max-width: 320px) {    
    nav a {
        font-size: 20px;
        margin: 0 10px;
    }

    footer a:not(:first-child) {
        font-size: 24px;
    }

    footer h4 {
        font-size: 28px;
    }
}